<section class='tools'>
    <app-breadcrumb></app-breadcrumb>
    <div class="toolbar">
        <span class="toolbar_badge badge badge-info">Info</span>
        <span class="toolbar_badge badge badge-danger">Danger</span>
        <div class="btn-group">
            <a class="btn"
                href="#"
                placement="bottom"
                ngbTooltip="Building">
                <fa-icon [icon]="faBuilding"></fa-icon>
            </a>
            <a class="btn"
                href="#"
                placement="bottom"
                ngbTooltip="Laptop">
                <fa-icon [icon]="faLaptopCode"></fa-icon>
            </a>
            <a class="btn"
                href="#"
                placement="bottom"
                ngbTooltip="Calendar">
                <fa-icon [icon]="faCalendarAlt"></fa-icon>
                <span class="badge badge-dark">3</span>
            </a>
            <a class="btn"
                href="#"
                placement="bottom"
                ngbTooltip="Lemon">
                <fa-icon [icon]="faLemon"></fa-icon>
            </a>
        </div>
    </div>
</section>