<section id='tools'>
    <app-breadcrumb></app-breadcrumb>
    <div id="toolbar">
        <div class="btn-group">
            <a class="btn"
                data-toggle="toolbar-tooltip"
                href="#"
                title=""
                data-original-title="Building">
                <i class="icon-building"></i>
            </a>
            <a class="btn"
                data-toggle="toolbar-tooltip"
                href="#"
                title=""
                data-original-title="Laptop">
                <i class="icon-laptop"></i>
            </a>
            <a class="btn"
                data-toggle="toolbar-tooltip"
                href="#"
                title=""
                data-original-title="Calendar">
                <i class="icon-calendar"></i>
                <span class="badge">3</span>
            </a>
            <a class="btn"
                data-toggle="toolbar-tooltip"
                href="#"
                title=""
                data-original-title="Lemon">
                <i class="icon-lemon"></i>
            </a>
        </div>
        <div class="label label-danger">
            Danger
        </div>
        <div class="label label-info">
            Info
        </div>
    </div>
</section>