<app-table-card
    [cardIcon]="cardIcon"
    [title]="type | titlecase | translate | async"
    [columns]="inputData.colsToRender"
    [rows]="data"
    [isDraggable]="true"
    [editCallBack]="edit"
    [deleteCallBack]="openRemovalConfirmDialog"
>
    <div
        [className]="'text-right pt-3'"
    >
        <button
            (click)="openDialog"
            [className]="'btn btn-outline-info'"
            type='button'
            ngbButton
        >
            {{ 'Add' | translate | async }}
        </button>
    </div>
</app-table-card>