/* ==========================================================
! X. Section: References
========================================================== */

.line-content-references {
    padding-bottom: 10px;
}

@media (min-width:992px) {
    .line-content-references {
        min-height: 150px;
    }
}

.reference {
    font-size: 14px;
    font-weight: bold;
    color: #999999;
}

.reference-role {
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
}

.reference-description {
    font-size: 13px;
}

.reference-description p {
    font-size: 13px;
    line-height: 19px;
}
