<ng-container *ngIf="isTrainingActive('regulated'); then regulatedTemplate"></ng-container>
<ng-container *ngIf="isTrainingActive('regulated') && isTrainingActive('computer'); then separator"></ng-container>
<ng-container *ngIf="isTrainingActive('computer'); then computerTemplate"></ng-container>
<ng-container *ngIf="(isTrainingActive('regulated') || isTrainingActive('computer')) && isTrainingActive('others'); then separator"></ng-container>
<ng-container *ngIf="isTrainingActive('others'); then othersTemplate"></ng-container>


<ng-template #regulatedTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyRegulated"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #computerTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyComputer"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #othersTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyOthers"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #panelBodyRegulated>
    usar angular materials https://material.angular.io/components/table/overview
</ng-template>

<ng-template #panelBodyComputer>
    usar angular materials https://material.angular.io/components/table/overview
</ng-template>

<ng-template #panelBodyOthers>
    usar angular materials https://material.angular.io/components/table/overview
</ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>