<section [className]="'navbar navbar-default'"
    id='navbar'>
    <a [className]="'navbar-brand'"
        href='#'>
        <fa-icon [icon]="faBeer"
            flip="horizontal"
            size="lg"></fa-icon> user.name || application.name
    </a>
    <nav [className]="'nav navbar-nav navigation-bar float-right'">
        <app-menu [name]="messageMenu.name"
            [start_icon]="messageMenu.start_icon"
            [title]="messageMenu.title"
            [badge]="messageMenu.badge"
            [options]="messageMenu.options"></app-menu>
        <div>
            <a [ngClass]="'navigation-bar_nav-link'">
                <fa-icon [icon]="faCog"></fa-icon> Settings
            </a>
        </div>
        <app-menu [name]="userMenu.name"
            [start_icon]="userMenu.start_icon"
            [title]="userMenu.title"
            [image]="userMenu.image"
            [options]="userMenu.options"
            [stylesDropToggle]="'font-weight: bolder;'"></app-menu>
    </nav>
</section>