// GREY
$grey: #f5f7f7;
$darkishGrey: #ddd;
$darkGrey: #869198;
$darkerGrey: #737373;
$disabledGreyInputColor: #8080802e;

// WHITE
$white: #fff;

// BLACK
$black: #000;

// FORMS
$borderColor: #ced4da;
$focusedBorderColor: #80bdff;
$boxShadowFocusedInput:  0 0 0 0.2rem rgb(0 123 255 / 25%);