:host {
    .btn-group {
        .btn {
            font-size: inherit;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 6px;
            padding-left: 6px;
        }
        .btn:hover {
            color: #1abc9c;
        }
    }
    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eeeeee;
        h4,
        .h4 {
            font-size: 18px;
        }
    }
}