@use '../../globals/styles' as *;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/utilities/background';

:host {
    display: block;
    margin: 5px;

    .paddedContent {
        padding: 20px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .help-block {
        color: $darkerGrey;
    }

    [mat-dialog-title] {
        background-color: $grey;
        color: $darkGrey;
    }

    [mat-dialog-content] {
        .paddedContent {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    [mat-dialog-actions] {
        background-color: $grey;
        .submitButton {
            @extend .btn-outline-secondary;
            @extend .bg-white;
            &:hover {
                @extend .bg-secondary
            }

            float: right;
        }
    }

}