/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:host {
    .card {
        .card-header {
            background-color: #f5f7f7;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.428571429;
            .panel-tools {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                .btn-group {
                    .btn {
                        font-size: inherit;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-right: 6px;
                        padding-left: 6px;
                    }
                    .btn:hover {
                        color: #1abc9c;
                    }
                }
            }
        }
        .panel-body {
            padding: 15px;
        }
    }
}