:host {
    display: block;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    overflow: hidden;

    flex-grow: 1;

    .wrapper {
        display: flex;
        height: 100%;
        &-right-side {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            &_content {
                padding: 20px 20px 20px 20px;
                background-color: white;
                width: 100%;
                overflow: auto;
                flex-grow: 1;
            }
        }
    }
}