<ng-container *ngIf="isActive('missing');" [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{
    type: 'missing'
}"></ng-container>
<ng-container *ngIf="isActive('all'); then separator"></ng-container>
<ng-container *ngIf="isActive('translated');" [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{
    type: 'translated'
}"></ng-container>

<ng-template #tableTemplate
    let-type="type"
>
    <app-table-card
        [cardIcon]="cardIcon"
        [title]="type | titlecase | translate | async"
        [columns]="inputData.colsToRender.get($any(TranslationEnum[type]))"
        [rows]="data[TranslationEnum[type]]"
        [isDraggable]="true"
        [editCallBack]="edit(type)"
        [deleteCallBack]="openRemovalDialog(type)"
        [transformFn]="inputData.transformFn"
    >
        <div
            *ngIf="hasActions(type)"
            [className]="'text-right pt-3'"
        >
            <button
                (click)="openDialog(type)"
                [className]="'btn btn-outline-info'"
                type='button'
                ngbButton
            >
                {{ 'Add' | translate | async }}
            </button>
        </div>
    </app-table-card>
</ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>