<div class="picture">
    <div class="modalBox">
        <div id="profile"
            [ngClass]="{
                'dragging': dragging,
                'hasImage': hasImage
            }"
            [ngStyle]="{
                'background-image': hasImage ? 'url(' + getBase64ImageData() + ')' : 'none'
            }"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="resetInput($event); onReceiveFile($event)"
            (click)="mediaFile.click()">
            <div [className]="'dashes'"></div>
            <label>{{ 'Click to browse or drag an image here' | translate | async }}</label></div>
        <div class="username">
            <h1>{{ name ? name : 'Enter a name bellow' | translate | async }}</h1>
        </div>
    </div>
    <input type="file"
        id="mediaFile"
        #mediaFile
        (change)="onReceiveFile($event)" />
</div>