<div
    class="selector"
>
    <div
        class="handler"
        [routerLink]="getRouterUrl()"
    >
        <fa-icon
            [size]="iconSize ? iconSize + 'x' : null"
            [icon]="icon"
        ></fa-icon>
        <div
            class="handler_title"
            [ngStyle]="{
                display: handlerInline ? 'inline': 'block'
            }"
        >
            {{ title }}
        </div>
    </div>
    <div
        *ngIf="options && options.length"
        [ngClass]="['dropdown_menu', DropDownPosition[position]]"
        [ngStyle]="{
            zIndex
        }"
    >
        <div
            [ngClass]="['options_wrapper', DropDownPosition[position]]"
        >
            <div
                *ngFor="let option of options"
                [routerLink]="getRouterUrl(option)"
                [className]="MenuOptionType[option.type]"
            >
                <fa-icon
                    *ngIf="option.icon"
                    [icon]="option.icon"
                ></fa-icon>
                <span>
                    {{ option.title }}
                </span>
            </div>
        </div>
        <span
            [ngClass]="['arrow', DropDownPosition[position]]"
        ></span>
    </div>
</div>