.selector {
    position: relative;

    .handler {
        cursor: pointer;
        &_title {
            font-size: 0.7rem;
        }
    }

    &:hover {
        .dropdown_menu {
            display: initial;
        }
    }
    .dropdown_menu {
        display: none;
        position: absolute;

        &.right {
            left: 100%;
            top: 0;
        }

        &.down {
            top: 100%;
        }

        .options_wrapper {

            width: max-content;

            font-size: 14px;
            background-color: #2c3e50;
            border: 1px solid #1a242f;
            border-radius: 4px;
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

            padding: 5px;

            &.right {
                margin-left: 5px;
            }

            &.down {
                margin-top: 5px;
            }

            .header {
                color: #1abc9c;
                padding: 3px 20px;
                font-size: 0.85em;
                line-height: 1.43em;
            }

            .option {
                cursor: pointer;
                padding: 3px 20px;
                line-height: 1.4em;
                color: #ecf0f1;
                text-align: left;
                &:hover {
                    color: #262626;
                    background-color: whitesmoke;
                }
            }

            .separator {
                height: 1px;
                margin: 9px 0;
                overflow: hidden;
                background-color: #1a242f;
            }
        }

        .arrow {
            position: absolute;

            &.right {
                /*
                 * if position is right,
                 * the arrow will be the left
                 */
                border-right: 6px solid #2c3e50;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                left: 0px;
                top: 22px;
            }

            &.down {
                /*
                 * if position is down,
                 * the arrow will be the top
                 */
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #2c3e50;
                top: 0px;
                left: 22px;
            }
        }
    }
}