<ul class="breadcrumb"
    id="breadcrumb">
    <li
        *ngFor="let breadcrumb of breadcrumbs; let i = index"
        [ngClass]="{
            breadcrumb_element: true,
            active: i === breadcrumbs.length - 1
        }"
    >
        <a
            [ngClass]="{
                breadcrumb_link: true,
                title: i === 0
            }"
            [routerLink]="getRouterUrl(i)"
        >
            {{ breadcrumb.label | noSpecialChars | translate | async }}
        </a>
    </li>
</ul>