/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:host {
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    .navbar-brand {
        color: #2c3e50;
    }
    .navigation-bar {
        color: #777777;
        flex-direction: row;
        align-items: center;
        &_nav-link {
            cursor: pointer;
            padding: 10px 15px;
            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, 0);
                color: #555555
            }
            &-bold {
                font-weight: bolder;
            }
        }
    }
}