<section id='sidebar'
    [className]="'sidebar'">
    <fa-icon [icon]="faBars"
        size="lg"
        [ngClass]="['sidebar_menu-icon']"></fa-icon>
    <i class='icon-align-justify icon-large'
        id='toggle'></i>
    <ul id='dock'
        [className]="'sidebar_dock'">
        <li
            *ngFor="let menu of menuItems"
            [className]="'sidebar_dock_launcher'">
            <app-menu
                [icon]="menu.icon"
                [iconSize]="menu.iconSize"
                [title]="menu.title"
                [options]="menu.options"
                [urlSegments]="menu.urlSegments"
            ></app-menu>
        </li>
    </ul>
    <fa-icon [icon]="faFlask"
        id='beaker'
        [ngClass]="['sidebar_breaker']"
        placement="top"
        ngbTooltip="Made by lab2023. Angularised by Manu"
    ></fa-icon>
</section>