<section id='sidebar'
    [className]="{
        sidebar: true,
        closed: !openMenu
    }">
    <fa-icon [icon]="faBars"
        size="lg"
        [ngClass]="{
            'sidebar_menu-icon': true,
            floating: !openMenu
        }"
        (click)="toggleMenu()"
    ></fa-icon>
    <ul
        *ngIf="openMenu"
        id='dock'
        [className]="'sidebar_dock'">
        <li
            *ngFor="let menu of menuItems"
            [className]="'sidebar_dock_launcher'">
            <app-menu
                [icon]="menu.icon"
                [iconSize]="menu.iconSize"
                [title]="menu.title"
                [options]="menu.options"
                [urlSegments]="menu.urlSegments"
            ></app-menu>
        </li>
    </ul>
    <fa-icon
        *ngIf="openMenu"
        [icon]="faFlask"
        id='beaker'
        [ngClass]="['sidebar_breaker']"
        placement="top"
        ngbTooltip="Made by lab2023. Angularised by Manu"
    ></fa-icon>
</section>