:host {
    background-color: #2c3e50;

    z-index: 1;
    text-align: center;
    display: block;
    position: relative;
    .sidebar {
        min-width: 40px;
        &.closed {
            min-width: none;
        }
        height: 100%;
        width: 100%;
        &_menu-icon {
            margin-top: 20px;
            display: inline-block;
            color: #3e5771;

            &.floating {
                position: absolute;
                background-color: #2c3e50;
                border-bottom-right-radius: 10px;
                margin-top: 0;
                padding: 8px;
                border-top-left-radius: 10px;
            }
        }
        &_dock {
            padding: 0;
            @media only screen and (min-width: 576px) {
                width: 80px;
            }

            width: 40px;
            text-align: center;
            color: #ecf0f1;
            border-right: 1px solid #1a242f;
            // elements Properties
            &_launcher {
                list-style: none;
                margin-top: 20px;
                // indicador de opcion
                 :hover:before,
                &.active:before {
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 5px solid white;
                    content: "";
                    position: absolute;
                    right: -1px;
                    margin-top: 23px
                }
                // fin de indicador de opcion
            }
            :hover,
            .active {
                transition-property: color;
                transition-duration: 0.4s;
                transition-timing-function: ease-in-out;
                color: #1abc9c;
            }
            &_link {
                font-size: 0.8em;
            }
        }
        &_breaker {
            color: #ecf0f1;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
        }
    }
}

#sidebar ul#dock li.launcher:hover:before,
#sidebar ul#dock li.launcher.active:before {
    transform: rotate(45deg);
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    right: -6px;
    margin-top: 22px
}