<h2
    mat-dialog-title
    [className]="''"
>
    <div
        [className]="'paddedContent'"
    >
        {{ title ? (title | translate | async) : ('Are you sure?' | translate | async) }}
    </div>
</h2>

<div mat-dialog-content>
    <div
        [className]="'paddedContent'"
    >
        {{
            message
                ? (message | translate | async)
                : ('Your' | translate | async)
                + ' '
                + ( superType | translate | async )
                + ' '
                + element[nameKey]
                + ' '
                + ('will be' | translate | async)
                + ' '
                + (acctionMap[action] | translate | async)
                + ' '
                + ('permanently' | translate | async)
        }}
    </div>
</div>
<div mat-dialog-actions>
    <div
        [className]="'paddedContent'"
    >
        <ng-container
            *ngFor="let button of buttons || [
                {
                    class: 'btn-outline-info',
                    action: 'close',
                    text: 'Cancel'
                },
                {
                    class: 'submitButton',
                    action: 'submit',
                    position: 'right',
                    text: 'Continue'
                }
            ]"
            [ngTemplateOutlet]="buttonTemplate"
            [ngTemplateOutletContext]="{
                class: button.class,
                action: button.action,
                position: button.position,
                text: button.text
            }"
        ></ng-container>
    </div>
</div>

<ng-template #buttonTemplate
    let-action="action"
    let-text="text"
    let-position="position"
    let-class="class"
>
    <button
        [ngClass]="{
            btn: true,
            right: position === 'right'
        }"
        [className]="class"
        ngbButton
        (click)="action === 'close' ? close() : close(index, element)"
    >
        {{ text | translate | async }}
    </button>
</ng-template>