<div class="languageSwitcher float-right">
    <p class="small d-none d-md-block">
        {{ 'Language' | translate | async }}:
    </p>
    <ng-container [ngTemplateOutlet]="switcherSelector"></ng-container>
</div>

<ng-template
    #switcherSelector
>
    <div class="lang">
        <div
            class="flag"
            [ngClass]="getClassName()"
        >
        </div>
        <ul class="dropdown" >
            <ng-container
                *ngFor="let option of getLocaleOptions()"
                [ngTemplateOutlet]="flagOption"
                [ngTemplateOutletContext]="{
                    option
                }"
            ></ng-container>
        </ul>
    </div>
</ng-template>

<ng-template
    #flagOption
    let-langOpt="option"
>
    <li
        *ngIf="langOpt.iso !== selectedLocale"
        (click)="handleChangeLanguage(langOpt.iso)"
    >
        <div [attr.data-flag]="langOpt.iso" [className]="'flag' + ' ' + langOpt.flag"></div>
    </li>
</ng-template>