<div class="wrapper">
    <div class="overlay" >
        <div class="spinner-wrapper">
     
                    <div id="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="loading"></div>
                    </div>

                    <p class="spinner-message" *ngIf="!!message">
                        {{ message }}
                    </p>
           
        </div>
    </div>

    <div class="loaded-content" >
        <ng-content></ng-content>
    </div>
</div>