/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';
@import '../../globals/styles';

:host {
    .card {
        .card-header {
            background-color: $grey;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.428571429;
            min-height: 39px;
            color: #2c3e50;
            .panel-tools {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
        .panel-body {
            padding: 15px;
        }
    }
}