<app-card [icon]="faEdit"
    [iconClass]="'mr-1'"
    [panelBody]="panelBody"
    [cardTitle]="title">
</app-card>

<ng-template #panelBody>
    <fieldset>
        <legend>Personal details</legend>
        <div class="form-group">
            <label class="control-label">Your photo</label>
            <app-pictureupload></app-pictureupload>
        </div>
        <form
            [formGroup]="detailsFormGroup"
        >
            <div class='form-group'>
                <label class='control-label'>First name</label>
                <input class='form-control'
                    formControlName="name"
                    placeholder='Enter your first name'>
                <small
                    *ngIf="detailsFormGroup.get('name').touched && detailsFormGroup.get('name').errors"
                    [className]="'text-danger'"
                >
                    You should provide a name
                </small>
            </div>
            <div class='form-group'>
                <label class='control-label'>Last name</label>
                <input class='form-control'
                    formControlName="surname"
                    placeholder='Enter your last name'>
            </div>
            <div class='form-group'>
                <label class='control-label'>Nickname</label>
                <input class='form-control'
                    formControlName="nickname"
                    placeholder='Enter your nickname'>
            </div>
            <div class='form-group'>
                <label class='control-label'>Primary role name</label>
                <input class='form-control'
                    formControlName="primaryRole"
                    placeholder='Enter your primary role name'>
                <small
                    *ngIf="detailsFormGroup.get('primaryRole').touched && detailsFormGroup.get('primaryRole').errors"
                    [className]="'text-danger'"
                >
                    You should provide a valid primare role name. If you never had had one before, just write wath you would like to do
                </small>
            </div>
            <div class='form-group'>
                <label class='control-label'>Secondary role name</label>
                <input class='form-control'
                    formControlName="secondaryRole"
                    placeholder='Enter your secondary role name'>
            </div>
            <div class='form-group'>
                <label class='control-label'>Birth details</label>
                <input class='form-control'
                    formControlName="birthInfo"
                    placeholder='Enter your birth details'>
                <p class='help-block'>Enter your birth details. E.g.: 31 Dec 1983 - Jaén, Spain</p>
            </div>
            <div class='form-group'>
                <label class='control-label'>Where you live</label>
                <input class='form-control'
                    formControlName="address"
                    placeholder='Enter the place you live in'>
            </div>
            <div class='form-group'>
                <label class='control-label'>Email</label>
                <input class='form-control'
                    formControlName="email"
                    placeholder='Enter your email'>
                <small
                    *ngIf="detailsFormGroup.get('email').touched && detailsFormGroup.get('email').errors"
                    [className]="'text-danger'"
                >
                    You should provide a valid email
                </small>
            </div>
            <div class='form-group'>
                <label class='control-label'>Phone number</label>
                <input class='form-control'
                    formControlName="phone"
                    placeholder='Enter your phone number'>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend>{{ 'Social networks' | translate: this | async }}</legend>
        <ng-container
            *ngIf="socialNetworks.length"
            [ngTemplateOutlet]="socialNetworkTableTemplate"
            [ngTemplateOutletContext]="{
                source: socialNetworks,
                colsToRender: socialNetworkColsToRender
            }"

        ></ng-container>
        <div
            [className]="'text-right network-actions'"
        >
            <button
                (click)="openDialog()"
                [className]="'btn btn-outline-info'"
                type='button'
                ngbButton
            >
                {{ 'Add Social Network' | translate: this | async }}
            </button>
        </div>
    </fieldset>

    <div class='form-actions'>
        <button [className]="'btn submitButton'"
            type='submit'
            ngbButton
            (click)="submitHandler($event)"
        >
            {{ 'Submit' | translate: this | async}}
        </button>
        <button [className]="'btn btn-outline-info'"
            type='reset'
            ngbButton>Cancel</button>
    </div>
</ng-template>


<ng-template #socialNetworkTableTemplate
    let-source="source"
    let-columnsToBeRendered="colsToRender"
>
    <mat-table class=""
        [dataSource]="source"
    >
        <ng-container *ngFor="let col of columnsToBeRendered; let colIndex = index" matColumnDef="{{col}}">
            <mat-header-cell
                *matHeaderCellDef
            >
                {{col === 'id' ? '#' : col | translate | async | titlecase}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element; let row; let rowIndex = index">
                <ng-container *ngIf="col === 'edit'"
                    [ngTemplateOutlet]="editNetworkTemplate"
                    [ngTemplateOutletContext]="{
                        rowIndex: rowIndex
                    }"
                ></ng-container>
                <ng-container *ngIf="col === 'delete'"
                    [ngTemplateOutlet]="deleteNetworkTemplate"
                    [ngTemplateOutletContext]="{
                        rowIndex: rowIndex
                    }"
                ></ng-container>
                <ng-container *ngIf="col !== 'delete' && col !== 'edit'"> {{ element[col] }} </ng-container>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToBeRendered"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToBeRendered"></mat-row>
    </mat-table>
</ng-template>


















<ng-template #editNetworkTemplate
    let-index="rowIndex"
>
    <button [className]="'btn btn-info btn-network-row'"
        ngbButton
        (click)="editNetwork(index)"
    >
        <fa-icon
            [icon]="faEdit"
        ></fa-icon>
    </button>
</ng-template>



<ng-template #deleteNetworkTemplate
    let-index="rowIndex"
>
    <button [className]="'btn btn-danger btn-network-row'"
        ngbButton
        (click)="deleteNetwork(index)"
        >
        <fa-icon
            [icon]="faTrash"
        ></fa-icon>
    </button>
</ng-template>













