@import '~bootstrap/scss/bootstrap';
@import '../../globals/styles';

:host {

    display: block;
    margin: -24px;

    .paddedContent {
        padding: 24px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .help-block {
        color: $darkerGrey;
    }

    [mat-dialog-title] {
        background-color: $grey;
        color: $darkGrey;
    }

    [mat-dialog-content] {
        .paddedContent {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    [mat-dialog-actions] {
        background-color: $grey;
        .submitButton {
            @extend .btn-outline-secondary;
            @extend .bg-white;
            &:hover {
                @extend .btn-outline-secondary;
                @extend .bg-secondary
            }

            float: right;
        }
    }

}