<section id='sidebar'
    [className]="'sidebar'">
    <fa-icon [icon]="faBars"
        size="lg"
        [ngClass]="['sidebar_menu-icon', sidebar_icon]"></fa-icon>
    <i class='icon-align-justify icon-large'
        id='toggle'></i>
    <ul id='dock'
        [className]="'sidebar_dock'">
        <li [ngClass]="{
            'sidebar_dock_launcher': true,
            'active': getRoute('dashboard')
        }"
            [routerLink]="'dashboard'">
            <fa-icon [icon]="faTachometerAlt"
                size="2x"
                [className]="sidebar_icon"></fa-icon>
            <a [className]="'sidebar_dock_link'">Dashboard</a>
        </li>
        <li [ngClass]="{
            'sidebar_dock_launcher': true,
            'active': getRoute('details')
        }"
            [routerLink]="'details'">
            <fa-icon [icon]="faFileAlt"
                size="2x"
                [className]="sidebar_icon"></fa-icon>
            <a [className]="'sidebar_dock_link'">Details</a>
        </li>
        <li [className]="'sidebar_dock_launcher'">
            <fa-icon [icon]="faTable"
                size="2x"
                [className]="sidebar_icon"></fa-icon>
            <a [className]="'sidebar_dock_link'">Tables</a>
        </li>
        <li [className]="'sidebar_dock_launcher'">
            <app-menu [name]="reportMenu.name"
                [start_icon]="reportMenu.start_icon"
                [title]="reportMenu.title"
                [options]="reportMenu.options"
                [caret]="reportMenu.caret"
                [stylesStartIcon]="reportMenu.stylesStartIcon"
                [stylesDropToggle]="reportMenu.stylesDropToggle"
                [placement]="'right-top'"
                [dropDownActiveOrFocusedToggleStyles]="reportMenu.dropDownActiveOrFocusedToggleStyles"></app-menu>
        </li>
        <li [className]="'sidebar_dock_launcher'">
            <fa-icon [icon]="faBookmark"
                size="2x"
                [className]="sidebar_icon"></fa-icon>
            <a [className]="'sidebar_dock_link'">Bookmarks</a>
        </li>
        <li [className]="'sidebar_dock_launcher'">
            <fa-icon [icon]="faCloud"
                size="2x"
                [className]="sidebar_icon"></fa-icon>
            <a [className]="'sidebar_dock_link'">Backup</a>
        </li>
        <li [className]="'sidebar_dock_launcher'">
            <fa-icon [icon]="faBug"
                size="2x"
                [className]="sidebar_icon"></fa-icon>
            <a [className]="'sidebar_dock_link'">Feedback</a>
        </li>
    </ul>
    <fa-icon [icon]="faFlask"
        id='beaker'
        [ngClass]="['sidebar_breaker', sidebar_icon]"
        placement="top"
        ngbTooltip="Made by lab2023. Angularised by Manu"></fa-icon>
</section>