<ng-container *ngIf="isTrainingActive('regulated'); then regulatedTemplate"></ng-container>
<ng-container *ngIf="isTrainingActive('all'); then separator"></ng-container>
<ng-container *ngIf="isTrainingActive('computer'); then computerTemplate"></ng-container>
<ng-container *ngIf="isTrainingActive('all'); then separator"></ng-container>
<ng-container *ngIf="isTrainingActive('others'); then othersTemplate"></ng-container>


<ng-template #regulatedTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyRegulated"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #computerTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyComputer"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #othersTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyOthers"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #panelBodyRegulated>
    <mat-table class=""
        [dataSource]="regulatedData"></mat-table>
</ng-template>

<ng-template #panelBodyComputer>
    <mat-table class=""
        [dataSource]="computerData"></mat-table>
</ng-template>

<ng-template #panelBodyOthers>
    <mat-table class=""
        [dataSource]="otherData"></mat-table>
</ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>