<h2
    mat-dialog-title
    [className]="''"
>
    <div
        [className]="'paddedContent'"
    >
        {{
            editingIndex === null
                ? ('Add a new training: ' | translate | async) + (trainingFormGroup.get('type').value | translate | async | titlecase)
                : ('Editing your training: ' | translate | async) + (trainingFormGroup.get('type').value | translate | async | titlecase)
        }}
    </div>
</h2>

<div mat-dialog-content>
    <div
        [className]="'paddedContent'"
    >
        <ng-container *ngTemplateOutlet="trainingTemplate"></ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <div
        [className]="'paddedContent'"
    >
        <button
            [className]="'btn btn-outline-info'"
            type='button'
            ngbButton
            (click)="close()"
        >
            {{ 'Cancel' | translate | async }}
        </button>
        <button
            [className]="'btn submitButton'"
            type="submit"
            ngbButton
            (click)="submitHandler($event)"
        >
            {{ editingIndex === null ? ('Add' | translate | async) : ('Edit' | translate | async) }}
        </button>
    </div>
</div>

<ng-template #trainingTemplate>
    <form
        [formGroup]="trainingFormGroup"
    >
        <div [className]="'row'">
            <div
                [className]="'col-md-6 col-sm-12'"
            >
                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Tag your training' | translate | async }}
                    </label>
                    <input
                        class='form-control'
                        placeholder="{{ 'Enter the training name' | translate | async }}"
                        placement="top"
                        formControlName="tag"
                    >
                    <p
                        class='help-block'
                        [ngStyle]="{
                            'margin-bottom': trainingFormGroup.get('tag').touched && trainingFormGroup.get('tag').errors ? 0 : 'initial'
                        }"
                    >
                        {{ 'E.g: Bachelor degree on Computer Science' | translate | async }}
                    </p>
                    <small
                            *ngIf="trainingFormGroup.get('tag').touched && trainingFormGroup.get('tag').errors"
                            [className]="'text-danger'"
                    >
                        {{ 'You should provide a valid tag for your training' | translate | async }}
                    </small>
                </div>
                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Please enter a description' | translate | async }}
                    </label>
                    <input
                        class='form-control'
                        placeholder="{{ 'Optional: a brief description of your training' | translate | async }}"
                        formControlName="description"
                    >
                    <p
                        class='help-block'
                    >
                        {{ 'E.g.: I learnt Java and Javascript in this bootcamp' | translate | async }}
                    </p>
                </div>


                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Please enter the school, academy or place where you got your training' | translate | async }}
                    </label>
                    <input
                        class='form-control'
                        placeholder="{{ 'Optional: the name of the place you got your training' | translate | async }}"
                        formControlName="school"
                    >
                    <p
                        class='help-block'
                    >
                        {{ 'E.g.: Upper Technical School of Computer Science in University of Málaga' | translate | async }}
                    </p>
                </div>

                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Provide your starting date' | translate | async }}
                    </label>
                    <div class='d-flex'>
                        <input
                            class='form-control'
                            placeholder="{{ 'Optional: the date in which you started your training' | translate | async }}"
                            formControlName="start_date"
                            matInput [matDatepicker]="picker_start"
                            readOnly
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker_start"></mat-datepicker-toggle>
                        <mat-datepicker #picker_start></mat-datepicker>
                    </div>
                    <p
                        class='help-block'
                    >
                        {{ 'Click on the toggle button to open the date selector' | translate | async }}
                    </p>
                </div>
            </div>
            <div
                [className]="'col-md-6 col-sm-12'"
            >
                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Provide your finishing date' | translate | async }}
                    </label>
                    <div class='d-flex'>
                        <input
                            class='form-control'
                            placeholder="{{ 'Optional: the date in which you finished your training' | translate | async }}"
                            formControlName="finish_date"
                            matInput [matDatepicker]="picker_end"
                            readOnly
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker_end"></mat-datepicker-toggle>
                        <mat-datepicker #picker_end></mat-datepicker>
                    </div>
                    <p
                        class='help-block'
                    >
                        {{ 'Click on the toggle button to open the date selector' | translate | async }}
                    </p>
                </div>

                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Do you want to add some info about your Final Degree Project?' | translate | async }}
                    </label>
                    <input
                        class='form-control'
                        placeholder="{{ 'Optional: the name or a brief description of your Final Degree Project' | translate | async }}"
                        formControlName="final_project"
                    >
                    <p
                        class='help-block'
                    >
                        {{ 'E.g.: Experimentation with 3D technologies for mobile devices' | translate | async }}
                    </p>
                </div>


                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Add the web address of the School' | translate | async }}
                    </label>
                    <input
                        class='form-control'
                        placeholder="{{ 'Optional: the url of your School, if any' | translate | async }}"
                        formControlName="school_url"
                    >
                </div>

                <div
                    class='form-group'
                >
                    <label
                        class='control-label'
                    >
                        {{ 'Do you want to show up your average marks?' | translate | async }}
                    </label>
                    <input
                        class='form-control'
                        placeholder="{{ 'Optional: write down here an average of your marks during the training course' | translate | async }}"
                        formControlName="average_grade"
                        type="number"
                    >
                    <p
                        class='help-block'
                    >
                        {{ 'E.g.: 8.5 over 10, A++ and so on...' | translate | async }}
                    </p>
                </div>
            </div>
        </div>
    </form>
</ng-template>