/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:host {
    .progress {
        height: 2rem;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
         ::ng-deep .progress {
            border-radius: 0;
            height: 2rem;
        }
    }
}