/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.dropdown {
    color: #777777;
    &-menu {
        @extend .dropdown-menu;
        font-size: 14px;
        background-color: #2c3e50;
        border: 1px solid #1a242f;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        &_arrow {
            display: inline-block;
            position: absolute;
            &.bottom {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #2c3e50;
                top: -6px;
                right: 20px;
            }
            &.right {
                border-right: 6px solid #2c3e50;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                left: -7px;
                top: 20px;
            }
        }
        &_divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #1a242f;
        }
        &_option {
            // @extend .dropdown-menu-item;
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.4em;
            color: #ecf0f1;
            white-space: nowrap;
            &:hover,
            &:focus {
                text-decoration: none;
                color: #262626;
                background-color: whitesmoke;
                outline: none;
            }
        }
        &_header {
            cursor: pointer;
            color: #1abc9c;
            display: block;
            margin-top: -3px;
            padding: 3px 20px;
            font-size: 0.85em;
            line-height: 1.43em;
        }
    }
    &_nav-link {
        cursor: pointer;
        padding: 10px 15px;
        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0);
            color: #555555
        }
        &.noCaret::after {
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_badge {
        @extend .badge;
        @extend .badge-secondary;
        font-size: 0.8rem;
        padding: 3px 7px;
        display: inline-flex;
        margin-left: 10px;
        border-radius: 10px;
        height: 1rem;
        width: max-content;
        min-width: 1rem;
    }
    &_image {
        border-radius: 6px;
        margin: 0px 5px 0 5px;
        width: 20px;
        height: 20px;
        border: 1px solid;
        padding: 1px;
        background-color: rgba(255, 255, 255, 0.6)
    }
}