<div *ngIf="options && options.length > 0"
    ngbDropdown
    [style]="stylesDropDown"
    [placement]="placement">
    <span [style]="stylesDropToggle"
        (mouseover)="onDropDownToggleMouseOver()"
        (click)="onDropDownToggleClick()"
        (mouseleave)="onDropDownToggleMouseLeave()"
        ngbDropdownToggle
        [id]="name || title"
        [ngClass]="
            {
                'dropdown_nav-link': true,
                'noCaret': !caret
            }"> 
        <ng-container *ngTemplateOutlet="dropDownNavLinkContent"></ng-container>
    </span>
    <div [style]="stylesDropDownMenu"
        ngbDropdownMenu>
        <ng-template ngFor
            let-option
            [ngForOf]="options">

            <div [ngClass]="'dropdown-menu_header'"
                [style]="stylesHeader"
                *ngIf="
                        (
                            option.type.toString() ==  MenuItem.header.toString()
                            || MenuItem[option.type].toString() == MenuItem.header.toString()          
                        )">
                {{ option.name }}
            </div>
            <a *ngIf="
                    (
                        option.type.toString() ==  MenuItem.option.toString()
                        || MenuItem[option.type].toString() == MenuItem.option.toString()
                    ) 
                    && !option.onclick"
                ngbDropdownItem
                href="option.url"
                (click)="$event.preventDefault()"
                [ngClass]="'dropdown-menu_option'"
                [style]="stylesOption">{{ option.name }}</a>
            <a *ngIf="
                    (
                        option.type.toString() ==  MenuItem.option.toString()
                        || MenuItem[option.type].toString() == MenuItem.option.toString()   
                    )
                    && option.onclick"
                ngbDropdownItem
                (click)="option.onclick"
                [ngClass]="'dropdown-menu_option'"
                [style]="stylesOption">{{ option.name }}</a>
            <div *ngIf="
                        (
                            option.type.toString() ==  MenuItem.separator.toString()
                            || MenuItem[option.type].toString() == MenuItem.separator.toString()
                        )"
                [ngClass]="'dropdown-menu_divider'"
                [style]="stylesDivider"></div>
        </ng-template>
        <span [ngClass]="
            {
                'dropdown-menu_arrow': true,
                'bottom': !placement || placement.toLowerCase().startsWith('bottom'),
                'right': placement && placement.toLowerCase().startsWith('right')
            }"></span>
    </div>
</div>

<ng-template #dropDownNavLinkContent>
    <fa-icon *ngIf="start_icon"
        [icon]="start_icon"
        [ngClass]="'dropdown_start_icon'"
        [style]="stylesStartIcon"></fa-icon>
    {{ title }}
    <span *ngIf="badge"
        [ngClass]="'dropdown_badge'"
        [style]="stylesBadge">
    {{ badge }}
</span>
    <fa-icon *ngIf="end_icon"
        [icon]="end_icon"
        [ngClass]="'dropdown_end_icon'"
        [style]="stylesEndIcon"></fa-icon>
    <img *ngIf="image"
        [src]="image"
        [ngClass]="'dropdown_image'"
        [style]="stylesImage" />
</ng-template>