/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
:host {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    legend {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #333333;
        border-bottom: 1px solid #e5e5e5;
    }
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .form-group {
        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            background-color: white;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            &::placeholder {
                color: #999999;
                opacity: 1;
            }
        }
        .help-block {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #737373;
        }
        /*
        input[type="file"] {
            display: block;
        }
        */
    }
    .form-actions {
        background-color: #f5f7f7;
        margin: 15px -15px -15px;
        padding: 15px;
        button {
            &:not(:last-child) {
                margin-right: 15px;
            }
            &.submitButton {
                @extend .btn-outline-secondary;
                @extend .bg-white;
                &:hover {
                    @extend .btn-outline-secondary;
                    @extend .bg-secondary
                }
            }
        }
    }
}

.picture {
    margin-top: 10px;
    height: 250px;
    // ----- Variable Declarations -----
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    // ----- Styles -----
    .modalBox {
        width: 300px;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 15px 50px -5px rgba(black, 0.35);
        padding: 40px;
    }
    #mediaFile {
        visibility: hidden;
        height: 0;
        width: 0;
        display: inline-block;
    }
    #profile {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        top: -80px;
        margin-bottom: -80px;
        cursor: pointer;
        background: #f4f4f4;
        display: table;
        background-size: cover;
        background-position: center center;
        box-shadow: 0 5px 8px rgba(black, 0.35);
        .dashes {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            border: 4px dashed #ddd;
            opacity: 1;
        }
        label {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 30px;
            color: grey;
            opacity: 1;
        }
        &.dragging {
            background-image: none!important;
            .dashes {
                animation-duration: 10s;
                animation-name: spin;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                opacity: 1!important;
            }
            label {
                opacity: 0.5!important;
            }
        }
        &.hasImage {
            .dashes,
            label {
                opacity: 0;
                pointer-events: none;
                user-select: none;
            }
        }
    }
    .username {
        border-bottom: 1px solid #ddd;
        padding-top: 20px;
        h1 {
            text-align: center;
            font-size: 28px;
            font-weight: normal;
            letter-spacing: 1px;
        }
    }
    // ----- Mobile styles -----
    @media only screen and (max-device-width: 736px) {}
}