/* ==========================================================
! 13. Section: Thank you
========================================================== */

.line-thank-you {
    height: 60px;
}

.thank-you {
    font-weight: 200;
    font-size: 67px;
    line-height: 48px;
    color: #aaaaaa;
    font-style: italic;
    position: relative;
    top: -5px;
    text-align: center;
}

@media (min-width:992px) {
    .thank-you {
        text-align: left;
    }
}

h3.thank-you{
	margin-top: 20px;
	margin-bottom: 10px;
}