@import 'bootstrap/scss/bootstrap';
@import '../../globals/styles';

:host {

    display: block;
    margin: 5px;

    .paddedContent {
        padding: 20px;
    }

    [mat-dialog-title] {
        background-color: $grey;
        color: $darkGrey;
        margin-bottom: 0;
    }

    [mat-dialog-actions] {
        background-color: $grey;

        .actionButtonGroup {
            float: right;

            button {
                margin-left: 10px;
                @extend .btn-outline-secondary;
                @extend .bg-white;
                &:hover {
                    @extend .bg-secondary
                }
            }
        }
    }

}