<ng-container *ngIf="isActive('references'); then references"></ng-container>
<ng-container *ngIf="isActive('all'); then separator"></ng-container>
<ng-container *ngIf="isActive('upload-resume'); then uploadResumeFileTemplate"></ng-container>
<ng-container *ngIf="isActive('all'); then separator"></ng-container>
<ng-container *ngIf="isActive('quote'); then quoteTemplate"></ng-container>

<ng-template #references><app-references></app-references></ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>

<ng-template #uploadResumeFileTemplate>
    <app-card [icon]="cardIcon"
        [iconClass]="'mr-1'"
        [panelBody]="panelUploadResume"
        [cardTitle]="'Upload resume file' | translate | async">
    </app-card>
</ng-template>

<ng-template #panelUploadResume>
    <fieldset>
        <legend>{{ 'Resume document' | translate | async }}</legend>
        <div class="form-group">
            <label class="control-label">{{ 'Your resume' | translate | async }}</label>
            <app-fileupload
                [accept]="acceptedDocumentFileType"
                [(data)]="resumeData"
                [name]="'Upload your resume here' | translate | async"
                [isLargeDocument]=true
            ></app-fileupload>
        </div>
    </fieldset>
    <div class='form-actions'>
        <button [className]="'btn submitButton'"
            type='submit'
            ngbButton
            (click)="submitResumeHandler($event)"
        >
            {{ 'Submit' | translate | async}}
        </button>
        <button [className]="'btn btn-outline-info'"
            type='reset'
            ngbButton>Cancel</button>
    </div>
</ng-template>

<ng-template #quoteTemplate>
    <app-card [icon]="cardIcon"
        [iconClass]="'mr-1'"
        [panelBody]="quotePanel"
        [cardTitle]="'Resume quote' | translate | async">
    </app-card>
</ng-template>

<ng-template #quotePanel>
    <fieldset>
        <legend>{{ 'Optional insightful quote' | translate | async }}</legend>
aparece mas grande de la cuenta, mirar estilos de details
        <form
            [formGroup]="quoteFormGroup"
        >
            <div class='form-group'>
                <label class='control-label'>{{ 'Author name' | translate | async }}</label>
                estilos no en negrita, mirar en estilos de details
                <input class='form-control'
                    formControlName="author"
                    [placeholder]="'Enter your author\'s quote name' | translate | async">
                <small
                    *ngIf="quoteFormGroup.get('author').touched && quoteFormGroup.get('author').errors"
                    [className]="'text-danger'"
                >
                    {{ 'You should provide an author name' | translate | async }}
                </small>
            </div>
            <div class='form-group'>
                <label class='control-label'>{{ 'Quote' | translate | async }}</label>
                <input class='form-control'
                    formControlName="quote"
                    [placeholder]="'Enter your quote' | translate | async">
                <small
                    *ngIf="quoteFormGroup.get('quote').touched && quoteFormGroup.get('quote').errors"
                    [className]="'text-danger'"
                >
                    {{ 'You should provide a quote' | translate | async }}
                </small>
            </div>
        </form>
    </fieldset>

    <div class='form-actions'>
        <button [className]="'btn submitButton'"
            type='submit'
            ngbButton
            (click)="submitQuoteHandler($event)"
        >
            {{ 'Submit' | translate | async}}
        </button>
        <button
            *ngIf="quoteFormGroup.get('id').value"
            [className]="'btn btn-outline-info'"
            type='button'
            ngbButton
            (click)="deleteQuoteHandler()"
        >
            {{ 'Delete' | translate | async }}
        </button>
    </div>
</ng-template>