<ng-container *ngIf="isExperienceActive('professional'); then professionalTemplate"></ng-container>
<ng-container *ngIf="isExperienceActive('all'); then separator"></ng-container>
<ng-container *ngIf="isExperienceActive('ong'); then ongTemplate"></ng-container>
<ng-container *ngIf="isExperienceActive('all'); then separator"></ng-container>
<ng-container *ngIf="isExperienceActive('others'); then othersTemplate"></ng-container>


<ng-template #professionalTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panel"
        [panelParameters]="{source: professionalData}"
        [cardTitle]="'professional' | translate: this | async"
    >
    </app-card>
</ng-template>

<ng-template #ongTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panel"
        [panelParameters]="{source: ongData}"
        [cardTitle]="'ong' | translate: this | async"
    >
    </app-card>
</ng-template>

<ng-template #othersTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panel"
        [panelParameters]="{source: otherData}"
        [cardTitle]="'others' | translate: this | async"
    >
    </app-card>
</ng-template>

<ng-template #panel
    let-source="source"
>
    <mat-table class=""
        [dataSource]="source">
        <ng-container *ngFor="let col of colsToRender; let colIndex = index" matColumnDef="{{col}}">
            <mat-header-cell
                *matHeaderCellDef
            >
                {{col === 'id' ? '#' : col | translate | async}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element; let row">{{row[col]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colsToRender"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colsToRender"></mat-row>
    </mat-table>
</ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>