<ng-container *ngIf="isActive('professional');" [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{
    type: 'professional'
}"></ng-container>
<ng-container *ngIf="isActive('all'); then separator"></ng-container>
<ng-container *ngIf="isActive('ong');" [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{
    type: 'ong'
}"></ng-container>
<ng-container *ngIf="isActive('all'); then separator"></ng-container>
<ng-container *ngIf="isActive('other');" [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{
    type: 'other'
}"></ng-container>

<ng-template #tableTemplate
    let-type="type"
>
    <app-table-card
        [cardIcon]="cardIcon"
        [title]="type | titlecase | translate | async"
        [columns]="inputData.colsToRender"
        [rows]="data[ExperienceType[type]]"
        [isDraggable]="true"
        [editCallBack]="edit(type)"
        [deleteCallBack]="delete(type)"
    >
        <div
            [className]="'text-right pt-3'"
        >
            <button
                (click)="openDialog(type)"
                [className]="'btn btn-outline-info'"
                type='button'
                ngbButton
            >
                {{ 'Add' | translate | async }}
            </button>
        </div>
    </app-table-card>
</ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>