@use '../../globals/styles' as *;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/utilities/background';

:host {
    padding: 5px;

    // to resize with scroll if added many details
    flex-direction: column;
    height: 100%;
    display: flex;

    // to resize with scroll if added many details
    .dialog-title {
        flex: 0 0 auto;
    }

    .paddedContent {
        padding: 20px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .label-details {
        padding: 0 15px;
    }

    .help-block {
        color: $darkerGrey;
    }

    [mat-dialog-title] {
        background-color: $grey;
        color: $darkGrey;
    }

    [mat-dialog-content] {
        // to resize with scroll if added many details
        flex: 1 1 auto;
        overflow-y: auto;

        .paddedContent {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    [mat-dialog-actions] {
        // to resize with scroll if added many details
        flex: 0 0 auto;

        background-color: $grey;
        .submitButton {
            @extend .btn-outline-secondary;
            @extend .bg-white;
            &:hover {
                @extend .bg-secondary
            }

            float: right;
        }
    }

    .more-button {
        margin: auto 15px 15px auto;
    }

    .cancel-icon {
        align-self: center;
        margin: 5px;
        cursor: pointer;
    }

}