:host {
    padding: 10px 20px 0px 20px;
    background-color: #bdc3c7;
    position: fixed;
    width: 100%;
    height: 100%;


}

::ng-deep .SnackFailed {
    background-color: red;
    font-weight: bold;
    color: white;
}

::ng-deep .SnackSuccess {
    background-color: green;
    font-weight: bold;
    color: white;
}