@import 'bootstrap/scss/bootstrap';

:host {
    @extend .pr-0;
    @extend .pl-0;
    @extend .pl-sm-3;
    @extend .pr-sm-3;

    padding-top: 0;
    padding-bottom: 5px;

    background-color: #bdc3c7;
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

::ng-deep .Snack {
    > * {
        min-width: initial !important;
    }
    &.SnackFailed {
        --mdc-snackbar-container-color: red;
        --mdc-snackbar-supporting-text-color: white;
        --mdc-snackbar-supporting-text-weight: bold;
    }

    &.SnackSuccess {
        --mdc-snackbar-container-color: green;
        --mdc-snackbar-supporting-text-color: white;
        --mdc-snackbar-supporting-text-weight: bold;
    }
}

