<!DOCTYPE html>
<html>

<head>
    <meta>
    <meta>
    <title></title>
    <meta>
    <meta>
    <meta>
</head>

<body class='main'>
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <div id='wrapper'>
        <!-- Sidebar -->
        <section id='sidebar'>
        </section>
        <!-- Tools -->
        <section id='tools'>
        </section>
        <!-- Content -->
        <div id='content'>
        </div>
    </div>
    <!-- Footer -->
</body>

</html>


<router-outlet></router-outlet>