
<ng-template
  #locationSelectorTemplate
  let-type="locationType"
  let-onSelected="onSelected"
  let-formControl="formControl"
>
  <mat-form-field
    [ngClass]="{
      fullSize: isProductSelector
    }"
  >
    <mat-label>Choose your {{ type }}</mat-label>
    <mat-select
      [panelClass]="{
        panelFullSize: isProductSelector
      }"
      [formControl]="formControl ? formControl : null"
      required
      (selectionChange)="onSelected ? onSelected($event, type) : null"
      (openedChange)="$event && !formControl.value && dataInput.focus()"
    >
      <div [className]="'box-search'">
        <input
          #dataInput
          [attr.data-locationtype]="type"
          [(ngModel)]="filterValues[type]"
          (keyup)="onFilter($event)"
        />
        <mat-icon
          [attr.data-locationtype]="type"
          (click)="clearFilter($event)"
        >clear</mat-icon>
      </div>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let locality of filteredLocations[type]" [value]="locality.id">
        {{locality.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.hasError('required')">Please choose a {{ type }}</mat-error>
    <mat-hint *ngIf="formControl.value">Selected {{ type }}: {{ getLocalityNameById(formControl.value, type) }}</mat-hint>
  </mat-form-field>
</ng-template>