<ng-container *ngIf="isExperienceActive('professional'); then professionalTemplate"></ng-container>
<ng-container *ngIf="isExperienceActive('all'); then separator"></ng-container>
<ng-container *ngIf="isExperienceActive('ong'); then ongTemplate"></ng-container>
<ng-container *ngIf="isExperienceActive('all'); then separator"></ng-container>
<ng-container *ngIf="isExperienceActive('others'); then othersTemplate"></ng-container>


<ng-template #professionalTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyProfessional"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #ongTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyOng"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #othersTemplate>
    <app-card [icon]="faTable"
        [iconClass]="'mr-1'"
        [panelBody]="panelBodyOthers"
        [cardTitle]="title">
    </app-card>
</ng-template>

<ng-template #panelBodyProfessional>
    <mat-table class=""
        [dataSource]="regulatedData"></mat-table>
</ng-template>

<ng-template #panelBodyOng>
    <mat-table class=""
        [dataSource]="computerData"></mat-table>
</ng-template>

<ng-template #panelBodyOthers>
    <mat-table class=""
        [dataSource]="otherData"></mat-table>
</ng-template>

<ng-template #separator>
    <div [className]="'separator'"></div>
</ng-template>