/* ==========================================================
! 11. Section: Portfolio
========================================================== */

.portfolio .line-content {
    height: 255px;
}

.portfolio .line-content .keyword-tags {
    font-size: 13px;
}

.portfolio-item {
    position: relative;
    cursor: crosshair !important;
    width: 200px;
    height: 180px;
    overflow: hidden;
	background: none;
	margin-right: 5px;
}

.portfolio-item:hover img {
    transform: scale(1.2) rotate(-5deg);
}

.portfolio-item a {
    background: none;
    display: block;
    cursor: crosshair !important;
}

.portfolio-item img {
    width: 100%;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

.portfolio-item .hover-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    z-index: 3;
    display: none;
}

.portfolio-item .hover-bg {
    background: #02776f;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 10px;
    z-index: 3;
}

.portfolio-item .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    color: #fff;
    opacity: 1;
    display: none;
    padding: 20px;
}

.portfolio-item .hover p {
    color: #fff;
    text-align: center;
}

.portfolio-item .hover p.zoomi {
    font-size: 56px;
}

.portfolio-item .hover p.portfolio-item-title {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8px;
    font-weight: 200;
}

/* Gallery */
.ril-caption-content {
	margin-right: auto;
	margin-left: auto
}
/* End of Gallery */

/* Special effects */
.portfolio-item:hover .hover {
	display: block;
}
.portfolio-item:hover .hover-bg {
	display: block;
}
.portfolio-item:hover .hover-bg-wrapper {
	display: block;
}


@keyframes fadeInUp {
	0% {
	  opacity: 0;
	  transform: translateY(20px);
	}
  
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .fadeInUp:hover {
	animation-name: fadeInUp;
  }

  .animated {
	animation-duration: 1s;
	animation-fill-mode: both;
  }

/* End of special effects */

.slick-arrow::before {
    color: rgba(0, 0, 0, 0.20);
}