<h2
    mat-dialog-title
    [className]="''"
>
    <div
        [className]="'paddedContent'"
    >
        {{
            editingIndex === null
                ? ('Add a new training: ' | translate | async) + (skillsFormGroup.get('type').value | translate | async | titlecase)
                : ('Editing your training: ' | translate | async) + (skillsFormGroup.get('type').value | translate | async | titlecase)
        }}
    </div>
</h2>

<div mat-dialog-content>
    <div
        [className]="'paddedContent'"
    >
        <ng-container *ngTemplateOutlet="trainingTemplate"></ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <div
        [className]="'paddedContent'"
    >
        <button
            [className]="'btn btn-outline-info'"
            type='button'
            ngbButton
            (click)="close()"
        >
            {{ 'Cancel' | translate | async }}
        </button>
        <button
            [className]="'btn submitButton'"
            type="submit"
            ngbButton
            (click)="submitHandler($event)"
        >
            {{ editingIndex === null ? ('Add' | translate | async) : ('Edit' | translate | async) }}
        </button>
    </div>
</div>

<ng-template #trainingTemplate>
    <form
        [formGroup]="skillsFormGroup"
    >
        <div
            class='form-group'
        >
            <label
                class='control-label'
            >
                {{ 'Tag your skill' | translate | async }}
            </label>
            <input
                class='form-control'
                placeholder="{{ 'Enter the skill name' | translate | async }}"
                placement="top"
                formControlName="tag"
            >
            <p
                class='help-block'
                [ngStyle]="{
                    'margin-bottom': skillsFormGroup.get('tag').touched && skillsFormGroup.get('tag').errors ? 0 : 'initial'
                }"
            >
                {{ 'E.g: Drawing aircrafts' | translate | async }}
            </p>
            <small
                    *ngIf="skillsFormGroup.get('tag').touched && skillsFormGroup.get('tag').errors"
                    [className]="'text-danger'"
            >
                {{ 'You should provide a valid tag for your skill' | translate | async }}
            </small>
        </div>
        <div
            class='form-group'
        >
            <label
                class='control-label'
            >
                {{ 'Please enter a description' | translate | async }}
            </label>
            <input
                class='form-control'
                placeholder="{{ 'Optional: a brief description of your skill' | translate | async }}"
                formControlName="description"
            >
            <p
                class='help-block'
            >
                {{ 'E.g.: I love to draw aircrafts with even the smallest detail ' | translate | async }}
            </p>
        </div>
        <div
            class='form-group'
        >
            <label
                class='control-label'
            >
                {{ 'Please assess yourself from 1 to 10 on this skill' | translate | async }}
            </label>
            <input
                class='form-control'
                placeholder="{{ 'Optional: you can grade yourself on this training' | translate | async }}"
                formControlName="skill_level"
            >
            <p
                class='help-block'
            >
                {{ 'E.g.: 10' | translate | async }}
            </p>
        </div>
    </form>
</ng-template>